 body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #252525;
}

.border {
  border-color: '#000000';
  border-radius: 16
}

.container {
  justify-content: center;
}


.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
  text-decoration: none;
}

.center {
  text-align: center;

  
}

.active {
  font-weight: 700;
  color: #F7B681;
}

.nav  ul {
  display: flex;
  text-decoration: none;
  margin: 0 auto;

}





.nav li:first-child {
  padding-left: 10;
}

ul {
  padding-left: 0;
}

li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
  text-decoration: none;
  color: #4B7BF5;

}

.navlink:hover {
  color:#F7B681;
  text-decoration: none;
}

.navlinkStyle {
  color:#4B7BF5;
  font-size: 30;
  text-decoration: none;
}
.buttonStyle:focus{
  outline: none;
}