.tab-list {
    /* border-bottom: 1px solid #ccc; */
/* margin: 0, auto */

  }
  
  .tab-list-item {
    display: inline-block;
    border-radius: 16;
    color: white;
    background-color:#A9A9A9;
    padding: 0.8rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: #8AA9F8;

    /* border: solid #ccc; */
    border-width: 1px 1px 0 1px;
  }
  